<div class="container-fluid">
    <secondBar>Budget Surrender</secondBar>
</div>
<form [formGroup]="surrenderForm">
    <div class="container-fluid">
        <div class="formDesign mt-5 p-5">
            <span class="legend">Budget Surrender Entry:&nbsp;&nbsp;</span>
            <div class="row">
                <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Financial Year</mat-label>
                        <input matInput type="input" formControlName="financialYear" placeholder="Financial Year" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Department</mat-label>
                        <input matInput type="input" formControlName="department" placeholder="Department" />
                    </mat-form-field>
                </div>

                <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Approving Authority</mat-label>
                        <input matInput type="input" formControlName="approvingAuthority" placeholder="Approving Authority" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>File Number</mat-label>
                        <input matInput type="input" formControlName="fileNumber" placeholder="File Number" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>UO Number</mat-label>
                        <input matInput type="input" formControlName="uoNumber" placeholder="UO Number" />
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Choose a date</mat-label>
                        <input formControlName="uoDate" matInput [matDatepicker]="picker" placeholder="Choose a date(MM/DD/YYYY)" />
                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <app-hoa-details (onEnteringHoaDetails)="filterHOA($event)"></app-hoa-details>
            <div class="row">
                <div class="col">
                    <!-- <button type="button" mat-raised-button color="primary" class="float-end mx-3" (click)="isSearchDone = true; searchHOA()">Search</button> -->
                    <button type="button" mat-raised-button color="primary" class="float-end mx-3" (click)="isSearchDone = false">Refresh</button>
                </div>
            </div>
        </div>
        <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false" *ngIf="isSearchDone">
            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 0" (opened)="setAccordionStep(0)" class="formDesign mt-3">
                <mat-expansion-panel-header>
                    <mat-panel-title>Available Head of Accounts<span class="badge bg-secondary mx-3" *ngIf="clickedRows.size != 0">{{ clickedRows.size }} SELECTED</span></mat-panel-title>

                </mat-expansion-panel-header>

                <table mat-table matSort [dataSource]="allotSource" class="mt-2 mat-elevation-z0 xformDesign full-width">
                    <!-- hoa Column -->
                    <ng-container matColumnDef="hoa">
                        <th mat-header-cell mat-sort-header="hoa" class="mat-tab-header-txt-col" *matHeaderCellDef>Head of Account</th>
                        <td mat-cell *matCellDef="let element">{{ element.demandNo + "-" + element.majorHead + "-" + element.submajorHead + "-" + element.minorHead + "-" + element.schemeHead + "-" + element.detailHead + "-" + element.subdetailHead + "-" + element.votedCharged }}</td>
                    </ng-container>

                    <!-- scheme_head_desc Column -->
                    <ng-container matColumnDef="scheme_head_desc">
                        <th mat-header-cell mat-sort-header="scheme_head_desc" class="mat-tab-header-txt-col" *matHeaderCellDef>Scheme Head Desc</th>
                        <td mat-cell *matCellDef="let element">{{ element.scheme_head_desc | date : "yyyy-mm-dd" }}</td>
                    </ng-container>

                    <!-- publish_budget Column -->
                    <ng-container matColumnDef="publish_budget">
                        <th mat-header-cell mat-sort-header="publish_budget" class="mat-tab-header-txt-col" *matHeaderCellDef>Publish Budget</th>
                        <td mat-cell *matCellDef="let element">{{ element.budgetAllotedAmount }}</td>
                    </ng-container>

                    <!-- alloted_budegt Column -->
                    <ng-container matColumnDef="alloted_budegt">
                        <th mat-header-cell mat-sort-header="alloted_budegt" class="mat-tab-header-txt-col" *matHeaderCellDef>Alloted Budget</th>
                        <td mat-cell *matCellDef="let element">{{ element.ceilingAmount }}</td>
                    </ng-container>

                    <!-- budget_at_department Column -->
                    <ng-container matColumnDef="budget_at_department">
                        <th mat-header-cell mat-sort-header="budget_at_department" class="mat-tab-header-txt-col" *matHeaderCellDef>Budget at Department</th>
                        <td mat-cell *matCellDef="let element">{{ element.ceilingAmount - element.provisionalReleasedAmount }}</td>
                    </ng-container>

                    <!-- fund_at_sao Column -->
                    <ng-container matColumnDef="fund_at_sao">
                        <th mat-header-cell mat-sort-header="fund_at_sao" class="mat-tab-header-txt-col" *matHeaderCellDef>Fund laying at SAO level</th>
                        <td mat-cell *matCellDef="let element">{{ element.fund_at_sao }}</td>
                    </ng-container>

                    <!-- fund_at_ddo Column -->
                    <ng-container matColumnDef="fund_at_ddo">
                        <th mat-header-cell mat-sort-header="fund_at_ddo" class="mat-tab-header-txt-col" *matHeaderCellDef>Fund laying at DDO level</th>
                        <td mat-cell *matCellDef="let element">{{ element.fund_at_ddo }}</td>
                    </ng-container>

                    <!-- ceil_balance Column -->
                    <ng-container matColumnDef="ceil_balance">
                        <th mat-header-cell mat-sort-header="ceil_balance" class="mat-tab-header-txt-col" *matHeaderCellDef>Ceil Balance</th>
                        <td mat-cell *matCellDef="let element">{{ element.ceil_balance }}</td>
                    </ng-container>

                    <!-- selection Column -->
                    <ng-container matColumnDef="selection">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="clickedRows.size > 0 && isAllSelected()" [indeterminate]="clickedRows.size > 0 && !isAllSelected()"> </mat-checkbox>
                            <!-- https://stackblitz.com/angular/lrpjroljdly?embed=1&file=app/table-selection-example.html -->
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? tickRow($event, row) : null" [checked]="clickedRows.has(row)"> </mat-checkbox>
                        </td>
                    </ng-container>

                    <tr mat-header-row class="col" *matHeaderRowDef="['hoa', 'scheme_head_desc', 'publish_budget', 'alloted_budegt', 'budget_at_department', 'fund_at_sao', 'fund_at_ddo', 'ceil_balance', 'selection']"></tr>
                    <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: ['hoa', 'scheme_head_desc', 'publish_budget', 'alloted_budegt', 'budget_at_department', 'fund_at_sao', 'fund_at_ddo', 'ceil_balance', 'selection']"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter</td>
                    </tr>
                </table>
                <div class="d-flex justify-content-between">
                    <p class="pt-4">{{ clickedRows.size }} items selected.</p>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"> </mat-paginator>
                </div>
                <mat-action-row>
                    <button type="button" mat-raised-button color="primary" (click)="nextAccordionStep(); insert()" *ngIf="clickedRows.size != 0" matBadge="{{ clickedRows.size }}" matBadgePosition="before" matBadgeColor="warn">Insert</button>
                </mat-action-row>
            </mat-expansion-panel>
            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 1" (opened)="setAccordionStep(1)" class="formDesign" *ngIf="clickedRows.size != 0">
                <mat-expansion-panel-header><mat-panel-title>Set Amount</mat-panel-title></mat-expansion-panel-header>

                <table class="table mat-table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="text-align: center">Surrender ID</th>
                            <th style="text-align: center">HOA</th>
                            <th style="text-align: center">Scheme Head Description</th>
                            <th style="text-align: center">Publish Budget</th>
                            <th style="text-align: center">Alloted Budget</th>
                            <th style="text-align: center">Available Budget at Department Level (For Surrender)</th>
                            <th style="text-align: center">Fund laying at SAO level</th>
                            <th style="text-align: center">Fund laying at DDO level</th>
                            <th style="text-align: center">Ceil Balance</th>
                            <th style="text-align: center">Surrender Amount</th>
                            <th style="text-align: center">Clear Row</th>
                        </tr>
                    </thead>

                    <tbody>
                        <ng-container [formGroup]="surrenderForm">
                            <ng-container formArrayName="detailFormArray">
                                <ng-container *ngFor="let Struct of detailFormArray.controls; let i = index">
                                    <tr [formGroupName]="i">
                                        <td></td>
                                        <td>{{ clickedRowsArray[i].demandNo+'-'+clickedRowsArray[i].majorHead+'-'+clickedRowsArray[i].submajorHead+'-'+clickedRowsArray[i].minorHead+'-'+clickedRowsArray[i].schemeHead+'-'+clickedRowsArray[i].detailHead+'-'+clickedRowsArray[i].subdetailHead+'-'+clickedRowsArray[i].votedCharged }}</td>
                                        <td></td>
                                        <td>{{ clickedRowsArray[i].budgetAllotedAmount }}</td>
                                        <td>{{ clickedRowsArray[i].ceilingAmount }}</td>
                                        <td>{{ clickedRowsArray[i].ceilingAmount - clickedRowsArray[i].provisionalReleasedAmount }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align: center">
                                            <mat-form-field class="full-width" appearance="outline">
                                                <mat-label>Surrender Amount</mat-label>
                                                <input matInput type="number" formControlName="amount" required />
                                            </mat-form-field>
                                        </td>
                                        <td style="text-align: center">
                                            <button class="mt-2" mat-mini-fab color="primary" (click)="deleteDetailController(i)"><i matSuffix class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </ng-container>
                                <tr>
                                    <td colspan="9">
                                        <span class="float-end">Total Amount :- </span>
                                    </td>
                                    <td>{{ grandTotal }}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>

                <mat-action-row>
                    <button mat-raised-button color="primary" (click)="saveSurrender()">Save</button>
                </mat-action-row>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</form>
