// .example-container .mat-form-field + .mat-form-field {
// }

// fieldset {
//   legend {
//     color: rgb(27, 17, 17);
//     border-bottom: none;
//   }
//   padding: 20px;
//   border: solid 1px rgb(43, 37, 37);

//   .mat-form-field {
//     padding: 10px 0;
//   }
// }
.box{
    height: 100px;
    width: 100%;
}
.formDesign mt-5{
    padding: 1rem!important;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
