<div class="mainRoute">
    <div class="container-fluid">

        <secondBar>Budget Revert After Approval</secondBar>

        <div class="formDesign mt-3 py-3">
            <form [formGroup]="allotmentTypeForm" >
                <div class="row">

                    <div class="col-12 text-center">
                        <p><strong><span>Select Allotment Type for distribution : </span></strong></p>

                        <mat-radio-group aria-label="Select an option" formControlName="allotmentType">
                            <mat-radio-button value="1"[checked]="true">Allotment &nbsp; &nbsp;</mat-radio-button>
                            <mat-radio-button value="2">Sanction &nbsp;&nbsp;</mat-radio-button>
                            <mat-radio-button value="3">Grant-in-Aid</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>
            </form>
        </div>

        <mat-accordion [hideToggle]="false">

            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 0" (opened)="setAccordionStep(0)" class="formDesign mt-3">
                <mat-expansion-panel-header>
                    <mat-panel-title><strong>Search Criteria</strong></mat-panel-title>
                </mat-expansion-panel-header>
                <app-hoa-details (onEnteringHoaDetails)="filterHOA($event)"></app-hoa-details>
                <!-- <mat-action-row>
                    <button mat-raised-button color="primary" (click)="onHoaSearch()">Search</button>
                </mat-action-row> -->
            </mat-expansion-panel>

            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 1" (opened)="setAccordionStep(1)" class="formDesign">
                <mat-expansion-panel-header>
                    <mat-panel-title><strong>Available Head of Accounts</strong></mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Available Head of Accounts Table -->
                <div class="row pt-0 pb-0">
                    <div class="col-12">
                        <div class="xformDesign">
                            <table mat-table matSort [dataSource]="copyAllotSource" class="mt-2 mat-elevation-z0 xformDesign full-width">

                                <ng-container matColumnDef="allotmentId">
                                    <th mat-header-cell mat-sort-header="allotmentId" class="mat-tab-header-txt-col"
                                        *matHeaderCellDef>Allotment ID</th>
                                    <td mat-cell *matCellDef="let element">{{ element.allotmentId }}</td>
                                </ng-container>

                                <!-- aDate Column -->
                                <ng-container matColumnDef="allotmentdate">
                                    <th mat-header-cell mat-sort-header="allotmentdate" class="mat-tab-header-txt-col"
                                        *matHeaderCellDef>Allotment Date</th>
                                    <td mat-cell *matCellDef="let element">{{ element.createdAt | date:'yyyy-MM-dd' }}</td>
                                </ng-container>

                                <ng-container matColumnDef="saoDdoDept">
                                    <th mat-header-cell mat-sort-header="saoDdoDept" class="mat-tab-header-txt-col"
                                        *matHeaderCellDef>SAO/DDO/DEPT Code</th>
                                    <td mat-cell *matCellDef="let element">{{ element.receiverSaoDdoCode }}</td>
                                </ng-container>

                                <!-- hoa Column -->
                                <ng-container matColumnDef="hoa">
                                    <th mat-header-cell mat-sort-header="hoa" class="mat-tab-header-txt-col" *matHeaderCellDef>
                                        Head
                                        of Account</th>
                                    <td mat-cell *matCellDef="let element">{{
                                        element.demandNo+'-'+element.majorHead+'-'+element.submajorHead+'-'+element.minorHead+'-'+element.schemeHead+'-'+element.detailHead+'-'+element.subdetailHead+'-'+element.votedCharged
                                        }}</td>
                                </ng-container>

                                <!-- balance Column -->
                                <ng-container matColumnDef="allotedAmount">
                                    <th mat-header-cell mat-sort-header="balanceamount" class="mat-tab-header-txt-col"
                                        *matHeaderCellDef>₹ Alloted Amount</th>
                                    <td mat-cell *matCellDef="let element">{{ element.budgetAllotedAmount |
                                        number:'1.0-0' }}</td>
                                </ng-container>

                                <!-- selection Column -->
                                <ng-container matColumnDef="selection">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="clickedRows.size > 0 && isAllSelected()"
                                            [indeterminate]="clickedRows.size > 0 && !isAllSelected()">
                                        </mat-checkbox>
                                        <!-- https://stackblitz.com/angular/lrpjroljdly?embed=1&file=app/table-selection-example.html -->
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? tickRow($event,row) : null" [checked]="clickedRows.has(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <tr mat-header-row class="col" *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)"
                                    *matRowDef="let row; columns: displayedColumns"></tr>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter</td>
                                </tr>

                            </table>
                            <div class="d-flex justify-content-between">
                                <p class="pt-4">{{ clickedRows.size }} items selected.</p>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"> </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-raised-button color="primary" (click)="goForDelete()">Revert</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>

    </div>
</div>
