<div class="mainRoute">
    <div class="container-fluid">
        <secondBar>Budget Approve</secondBar>

        <mat-accordion [hideToggle]="false">
            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 0" (opened)="setAccordionStep(0)" class="formDesign mt-3">
                <mat-expansion-panel-header>
                    <mat-panel-title><strong>Search Criteria</strong></mat-panel-title>
                </mat-expansion-panel-header>
                <app-hoa-details (onEnteringHoaDetails)="filterHOA($event)"></app-hoa-details>
                <!-- <mat-action-row>
                    <button mat-raised-button color="primary" (click)="onHoaSearch()">Search</button>
                </mat-action-row> -->
            </mat-expansion-panel>

            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 1" (opened)="setAccordionStep(1)" class="formDesign">
                <mat-expansion-panel-header>
                    <mat-panel-title><strong>Available Head of Accounts</strong></mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Available Head of Accounts Table -->
                <div class="row pt-0 pb-0">
                    <div class="col-12">
                        <div class="xformDesign">
                            <table mat-table matSort [dataSource]="copyAllotSource" class="mt-2 mat-elevation-z0 xformDesign full-width">
                                <ng-container matColumnDef="allotmentid">
                                    <th mat-header-cell mat-sort-header="allotmentid" class="mat-tab-header-txt-col" *matHeaderCellDef>Allotment ID</th>
                                    <td mat-cell *matCellDef="let element">{{ element.allotmentId }}</td>
                                </ng-container>

                                <!-- aDate Column -->
                                <ng-container matColumnDef="allotmentdate">
                                    <th mat-header-cell mat-sort-header="allotmentdate" class="mat-tab-header-txt-col" *matHeaderCellDef>Allotment Date</th>
                                    <td mat-cell *matCellDef="let element">{{ element.createdAt | date : "yyyy-MM-dd" }}</td>
                                </ng-container>

                                <ng-container matColumnDef="saoDdo">
                                    <th mat-header-cell mat-sort-header="saoDdo" class="mat-tab-header-txt-col" *matHeaderCellDef>Sub Alloting Officer/DDO</th>
                                    <td mat-cell *matCellDef="let element">{{ element.receiverSaoDdoCode }}</td>
                                </ng-container>

                                <!-- hoa Column -->
                                <ng-container matColumnDef="hoa">
                                    <th mat-header-cell mat-sort-header="hoa" class="mat-tab-header-txt-col" *matHeaderCellDef>Head of Account</th>
                                    <td mat-cell *matCellDef="let element">{{ element.demandNo + "-" + element.majorHead + "-" + element.submajorHead + "-" + element.minorHead + "-" + element.schemeHead + "-" + element.detailHead + "-" + element.subdetailHead + "-" + element.votedCharged }}</td>
                                </ng-container>

                                <ng-container matColumnDef="balanceCeilamount">
                                    <th mat-header-cell mat-sort-header="balanceceilamount" class="mat-tab-header-txt-col" *matHeaderCellDef>₹ Balance Ceilling Amount</th>
                                    <td mat-cell *matCellDef="let element">{{ element.ceilingAmount - element.provisionalReleasedAmount | number : "1.0-0" }}</td>
                                </ng-container>

                                <!-- balance Column -->
                                <ng-container matColumnDef="allotedAmount">
                                    <th mat-header-cell mat-sort-header="balanceamount" class="mat-tab-header-txt-col" *matHeaderCellDef>₹ Alloted Amount</th>
                                    <td mat-cell *matCellDef="let element">{{ element.budgetAllotedAmount | number : "1.0-0" }}</td>
                                </ng-container>

                                <!-- selection Column -->
                                <ng-container matColumnDef="selection">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="clickedRows.size > 0 && isAllSelected()" [indeterminate]="clickedRows.size > 0 && !isAllSelected()"> </mat-checkbox>
                                        <!-- https://stackblitz.com/angular/lrpjroljdly?embed=1&file=app/table-selection-example.html -->
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? tickRow($event, row) : null" [checked]="clickedRows.has(row)"> </mat-checkbox>
                                    </td>
                                </ng-container>

                                <tr mat-header-row class="col" *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns"></tr>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter</td>
                                </tr>
                            </table>
                            <div class="d-flex justify-content-between">
                                <p class="pt-4">{{ clickedRows.size }} items selected.</p>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"> </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-raised-button color="primary" (click)="goForApprove()">Approve</button>
                    <button mat-raised-button color="warn" (click)="goForApproveAndSanction()">Approve & Sanction</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="accordionStep === 2" (opened)="setAccordionStep(2)" class="formDesign" *ngIf="isSanctionAndApproveClicked">
                <mat-expansion-panel-header>
                    <mat-panel-title><strong>Memo Generation</strong></mat-panel-title>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="memoForm">
                            <div class="row">
                                <div class="col-2"></div>

                                <div class="col-8">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <input matInput type="text" placeholder="" formControlName="memoNo" />
                                        <mat-label>Memo Number *</mat-label>
                                        <mat-error><custom-mat-error [control]="memoFormErrorControl.memoNo"></custom-mat-error></mat-error>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="full-width mt-3">
                                        <mat-label>Memo Date</mat-label>
                                        <input formControlName="date" matInput [matDatepicker]="picker3" readonly />
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="full-width">
                                        <textarea matInput type="text" placeholder="" formControlName="remarks" class="box"></textarea>
                                        <mat-label>Remarks</mat-label>
                                        <mat-error><custom-mat-error [control]="memoFormErrorControl.remarks"></custom-mat-error></mat-error>
                                    </mat-form-field>

                                    <p>(Maximum characters: 500)</p>

                                    <p class="text-danger" *ngIf="memoForm.controls['remarks'].hasError('maxlength')">Remarks cannot exceed 500 characters.</p>
                                </div>

                                <div class="col-2"></div>
                            </div>

                            <div class="row mx-0">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <strong>Copy Forwarded To :</strong>
                                    <br /><br />
                                    <button type="button" mat-raised-button color="primary" (click)="addcopyForwardController()" class="mb-4">Add</button>
                                    <div class="row">
                                        <ng-container [formGroup]="memoForm">
                                            <ng-container formArrayName="copyForward">
                                                <ng-container *ngFor="let copyFwrdFormStruct of copyForwardArray.controls; let i = index">
                                                    <ng-container [formGroupName]="i">
                                                        <div class="col-11">
                                                            <ng-container style="text-align: center">
                                                                <mat-form-field class="full-width" appearance="outline">
                                                                    <input matInput type="text" formControlName="cf" required />
                                                                </mat-form-field>
                                                            </ng-container>
                                                        </div>

                                                        <div class="col-1">
                                                            <ng-container style="text-align: center">
                                                                <button class="mt-1" mat-mini-fab color="primary" (click)="deletecopyForwardController(i)"><mat-icon>clear</mat-icon></button>
                                                            </ng-container>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </form>
                    </div>
                </div>

                <mat-action-row>
                    <!-- <button mat-raised-button color="warn" (click)="draftAllotments()" *ngIf="!isWithDrawalClicked">Draft</button> -->
                    <button mat-raised-button color="primary" (click)="approveAndSanction()">Sanction</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
