<div class="mainRoute">
    <div class="container-fluid">
        <!--Header Bar : Start -->
        <secondBar>Budget Withdrawal</secondBar>
        <!--Header Bar : End -->

        <!-- Body : start -->
        <div class="formDesign py-3 mt-3">
            <form [formGroup]="withdrawalForm">
                <div class="row">
                    <div class="col-12">
                        <div class="row mx-4">
                            <div class="col-6 text-center">
                                <p>
                                    <strong><span>Select Allotment Type for distribution : </span></strong>
                                </p>
                                <mat-radio-group aria-label="Select an option" formControlName="saoDdo">
                                    <mat-radio-button value="1" [checked]="true" (change)="isSaoSelected = true" (click)="onSaoButtonSelect()">Sub-Allotting Officer &nbsp; &nbsp;</mat-radio-button>
                                    <mat-radio-button value="2" (change)="isSaoSelected = false; isSaoHeirerchySelected = false" (click)="onDdoButtonSelect()">DDO &nbsp;&nbsp;</mat-radio-button>
                                </mat-radio-group>
                            </div>

                            <div class="col-6 text-center" *ngIf="!isSaoSelected">
                                <p>
                                    <strong><span>Select DDO : </span></strong>
                                </p>
                                <mat-form-field class="full-width" appearance="outline">
                                    <input matInput type="text" (keyup)="searchDdo($event)" placeholder="DDO Code" [matAutocomplete]="cChild" formControlName="ddoCode" />
                                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                    <mat-label>DDO Code</mat-label>
                                    <mat-autocomplete #cChild="matAutocomplete">
                                        <mat-option class="ctm-auto-ddl" *ngFor="let ddo of ddoList" [title]="ddo.designation" [value]="ddo.code + ' : ' + ddo.designation"> {{ ddo.code }} : {{ ddo.designation }} </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div class="col-3 text-center" *ngIf="isSaoSelected">
                                <p>
                                    <strong><span>Select SAO Heirerchy : </span></strong>
                                </p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <input matInput type="text" placeholder="SAO Heirarchy" [matAutocomplete]="saoHeirarchy" formControlName="saoHeirerchy" />
                                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                    <mat-label>Sub Alloting Officer Heirarchy</mat-label>
                                    <mat-autocomplete #saoHeirarchy="matAutocomplete">
                                        <mat-option class="" *ngFor="let sao of saoHeirarchyList" [title]="sao.name" (onSelectionChange)="isSaoHeirerchySelected = true; onSaoHeirerchySelect($event, sao)" [value]="sao.name">
                                            {{ sao.name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                    <mat-error> Please select SAO Heirarchy</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-3 text-center" *ngIf="isSaoSelected && isSaoHeirerchySelected">
                                <p>
                                    <strong><span>Select SAO Code : </span></strong>
                                </p>
                                <mat-form-field appearance="outline" class="full-width">
                                    <input matInput type="text" (keyup)="searchSao($event)" placeholder="SAO Code" [matAutocomplete]="saoLst" formControlName="sao" />
                                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                    <mat-label>Sub Alloting Officer</mat-label>
                                    <mat-autocomplete #saoLst="matAutocomplete" placeholder="Select Sub Alloting Officer">
                                        <mat-option class="" *ngFor="let sao of saoList" [title]="sao.name" (onSelectionChange)="isSaoSelected = true" [value]="sao.code"> {{ sao.code }}:{{ sao.name }} </mat-option>
                                    </mat-autocomplete>
                                    <mat-error> Please select SAO </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <mat-accordion displayMode="default" [multi]="true" [hideToggle]="false">
            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 0" (opened)="setAccordionStep(0)" class="formDesign mt-3">
                <mat-expansion-panel-header><strong>Search Criterias :</strong></mat-expansion-panel-header>
                <app-hoa-details (onEnteringHoaDetails)="filterHOA($event)"></app-hoa-details>
                <!-- <mat-action-row>
                    <button mat-button mat-raised-button color="primary" (click)="searchForAllotments()">Search</button>
                </mat-action-row> -->
            </mat-expansion-panel>

            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 1" (opened)="setAccordionStep(1)" class="formDesign">
                <mat-expansion-panel-header><strong>Available Accounts :</strong></mat-expansion-panel-header>
                <div class="row pt-0 pb-0">
                    <div class="col-12">
                        <div class="xformDesign">
                            <table mat-table matSort [dataSource]="copyAllotSource" class="mt-2 mat-elevation-z0 xformDesign full-width">
                                <!-- aDate Column -->
                                <ng-container matColumnDef="allotmentId">
                                    <th mat-header-cell class="mat-tab-header-txt-col" *matHeaderCellDef [ngStyle]="{ display: 'none' }">Allotment ID</th>
                                    <td mat-cell *matCellDef="let element">{{ element.allotmentId }}</td>
                                </ng-container>
                                <ng-container matColumnDef="No">
                                    <th mat-header-cell *matHeaderCellDef class="mat-tab-header-txt-col" [attr.rowspan]="2">Allotment Id</th>
                                </ng-container>

                                <!-- allotmentdate Column -->

                                <ng-container matColumnDef="allotmentdate">
                                    <th mat-header-cell class="mat-tab-header-txt-col" [ngStyle]="{ display: 'none' }" *matHeaderCellDef>Allotment Date</th>
                                    <td mat-cell *matCellDef="let element">{{ element.allotmentDate | date : "yyyy-MM-dd" }}</td>
                                </ng-container>
                                <ng-container matColumnDef="Date">
                                    <th mat-header-cell *matHeaderCellDef class="mat-tab-header-txt-col" [attr.rowspan]="2">Allotment Date</th>
                                </ng-container>

                                <!-- sao Column -->

                                <ng-container matColumnDef="sao">
                                    <th mat-header-cell class="mat-tab-header-txt-col" *matHeaderCellDef>Sub-Allotting Officer</th>
                                    <td mat-cell *matCellDef="let element">{{ element.receiverSaoDdoCode }}</td>
                                </ng-container>

                                <!-- hoa Column -->
                                <ng-container matColumnDef="hoa">
                                    <th mat-header-cell mat-sort-header="hoa" class="mat-tab-header-txt-col" [ngStyle]="{ display: 'none' }" *matHeaderCellDef>Head of Account</th>
                                    <td mat-cell *matCellDef="let element">{{ element.demandNo + "-" + element.majorHead + "-" + element.submajorHead + "-" + element.minorHead + "-" + element.schemeHead + "-" + element.detailHead + "-" + element.subdetailHead + "-" + element.votedCharged }}</td>
                                </ng-container>
                                <ng-container matColumnDef="hoa1">
                                    <th mat-header-cell *matHeaderCellDef class="mat-tab-header-txt-col" [attr.rowspan]="2">Head of Account</th>
                                </ng-container>

                                <!-- MemoNo Column -->

                                <ng-container matColumnDef="memoNo">
                                    <th mat-header-cell mat-sort-header="memoNo" class="mat-tab-header-txt-col" *matHeaderCellDef [ngStyle]="{ display: 'none' }">Memo No</th>
                                    <td mat-cell *matCellDef="let element">{{ element.memoNumber }}</td>
                                </ng-container>
                                <ng-container matColumnDef="memo">
                                    <th mat-header-cell *matHeaderCellDef class="mat-tab-header-txt-col" [attr.rowspan]="2">Memo No</th>
                                </ng-container>

                                <!-- allotmentAmmount Column -->
                                <ng-container matColumnDef="totalAmt">
                                    <th mat-header-cell mat-sort-header="totalAmt" class="mat-tab-header-txt-col" *matHeaderCellDef [ngStyle]="{ display: 'none' }">₹ Total Amount</th>
                                    <td mat-cell *matCellDef="let element">{{ element.ceilingAmount | number : "1.0-0" }}</td>
                                </ng-container>
                                <ng-container matColumnDef="amt">
                                    <th mat-header-cell *matHeaderCellDef class="mat-tab-header-txt-col" [attr.rowspan]="2">₹ Total Amount</th>
                                </ng-container>

                                <!-- balance Column -->
                                <ng-container matColumnDef="balanceamount">
                                    <th mat-header-cell mat-sort-header="balanceamount" class="mat-tab-header-txt-col" *matHeaderCellDef [ngStyle]="{ display: 'none' }">₹ Balance Amount</th>
                                    <td mat-cell *matCellDef="let element">{{ element.ceilingAmount - element.provisionalReleasedAmount | number : "1.0-0" }}</td>
                                </ng-container>
                                <ng-container matColumnDef="Bamt">
                                    <th mat-header-cell *matHeaderCellDef class="mat-tab-header-txt-col" [attr.rowspan]="2">₹ Balance Amount</th>
                                </ng-container>

                                <!-- selection Column -->
                                <ng-container matColumnDef="selection">
                                    <th mat-header-cell *matHeaderCellDef class="mat-tab-header-txt-col" [ngStyle]="{ display: 'none' }">
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="clickedRows.size > 0 && isAllSelected()" [indeterminate]="clickedRows.size > 0 && !isAllSelected()"> </mat-checkbox>
                                        <!-- https://stackblitz.com/angular/lrpjroljdly?embed=1&file=app/table-selection-example.html -->
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? tickRow($event, row) : null" [checked]="clickedRows.has(row)"> </mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef class="mat-tab-header-txt-col" [attr.rowspan]="2">
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="clickedRows.size > 0 && isAllSelected()" [indeterminate]="clickedRows.size > 0 && !isAllSelected()"> </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? tickRow($event, row) : null" [checked]="clickedRows.has(row)"> </mat-checkbox>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="header-row">
                                    <th mat-header-cell *matHeaderCellDef class="mat-tab-header-txt-col" [attr.colspan]="1">Allotted To</th>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="['No', 'Date', 'header-row', 'hoa1', 'memo', 'amt', 'Bamt', 'select']"></tr>
                                <!-- <tr mat-header-row class="col" *matHeaderRowDef="displayedColumns"></tr> -->

                                <tr mat-header-row class="col" *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns"></tr>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter</td>
                                </tr>
                            </table>
                            <div class="d-flex justify-content-between">
                                <p class="pt-4">{{ clickedRows.size }} items selected.</p>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"> </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-button mat-raised-button color="primary" (click)="selectForModify()">Insert</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 2" (opened)="setAccordionStep(2)" class="formDesign">
                <mat-expansion-panel-header><strong>Set Amount :</strong></mat-expansion-panel-header>
                <div *ngIf="isInsertClicked">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Allotment ID</th>
                                <th>Allotment Date</th>
                                <th>Sub-Allotting Officer</th>
                                <!-- <th>Designation</th> -->
                                <th>Head of Account</th>
                                <th>Memo No</th>
                                <th>₹ Total Amount</th>
                                <th>₹ Balance Amount</th>
                                <th>₹ Withdrawal Amount</th>
                                <th>Clear Row</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container [formGroup]="withdrawalForm">
                                <ng-container formArrayName="withdrawalFormArray">
                                    <ng-container *ngFor="let withdrawalFormStruct of withdrawalFormArray.controls; let i = index">
                                        <tr [formGroupName]="i">
                                            <td style="text-align: center">
                                                <div class="mt-4">
                                                    {{ this.clickedRowsArray[i].allotmentId }}
                                                </div>
                                            </td>

                                            <td style="text-align: center">
                                                <div class="mt-4">
                                                    {{ this.clickedRowsArray[i].allotmentDate | date : "yyyy-MM-dd" }}
                                                </div>
                                            </td>

                                            <td style="text-align: center">
                                                <div class="mt-4">
                                                    {{ this.clickedRowsArray[i].receiverSaoDdoCode }}
                                                </div>
                                            </td>

                                            <td style="text-align: center">
                                                <div class="mt-4">
                                                    {{ clickedRowsArray[i].demandNo + "-" + clickedRowsArray[i].majorHead + "-" + clickedRowsArray[i].submajorHead + "-" + clickedRowsArray[i].minorHead + "-" + clickedRowsArray[i].schemeHead + "-" + clickedRowsArray[i].detailHead + "-" + clickedRowsArray[i].subdetailHead + "-" + clickedRowsArray[i].votedCharged }}
                                                </div>
                                            </td>

                                            <td style="text-align: center">
                                                <div class="mt-4">
                                                    {{ this.clickedRowsArray[i].memoNumber }}
                                                </div>
                                            </td>

                                            <td style="text-align: center">
                                                <div class="mt-4">
                                                    {{ this.clickedRowsArray[i].ceilingAmount }}
                                                </div>
                                            </td>

                                            <td style="text-align: center">
                                                <div class="mt-4">
                                                    {{ this.clickedRowsArray[i].ceilingAmount - this.clickedRowsArray[i].provisionalReleasedAmount | number : "1.0-0" }}
                                                </div>
                                            </td>

                                            <td style="text-align: center">
                                                <mat-form-field class="full-width" appearance="outline">
                                                    <mat-label>Balance</mat-label>
                                                    <input matInput type="number" formControlName="balance" required />
                                                </mat-form-field>
                                                <mat-error>
                                                    <custom-mat-error [control]="withdrawalFormArray_as_FormGroup(i).controls.balance"></custom-mat-error>
                                                </mat-error>
                                            </td>

                                            <td style="text-align: center">
                                                <button class="mt-2" mat-mini-fab color="primary" (click)="deletewithdrawalFormController(i)"><mat-icon>clear</mat-icon></button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <tr>
                                        <td colspan="8"><strong class="float-end">Total Amount :-</strong></td>
                                        <td>{{ grandTotal }}</td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                    <mat-action-row>
                        <button mat-button mat-raised-button color="primary" (click)="revokeAllotments()">Approve</button>
                    </mat-action-row>
                </div>
            </mat-expansion-panel>
        </mat-accordion>

        <!-- <div class="formDesign p-4 mt-5">

        </div> -->

        <!-- Body : End -->
    </div>
</div>
