<mat-list>
    <div mat-subheader>Menu</div>
    <mat-list-item routerLink="/home">
        <mat-icon class="mat-18">home</mat-icon>&nbsp;&nbsp;&nbsp;
        <div matListItemTitle>Menu 1</div>
    </mat-list-item>
    <mat-list-item routerLink="/home">
        <mat-icon class="mat-18">home</mat-icon>&nbsp;&nbsp;&nbsp;
        <div matListItemTitle>Menu 2</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Notes</div>
</mat-list>
<!-- <nav class="main-menu"> -->
<!-- </nav> -->
