<!--Header Bar : Start -->
<div class="container-fluid">
    <secondBar>Manage Applications</secondBar>
</div>
<!--Header Bar : End -->
<div class="container">
    <!-- Body : start -->
    <div class="d-flex justify-content-end mt-3 mb-3" style="margin: 0px">
        <button type="button" color="primary" mat-raised-button>Register</button>
    </div>
    <div class="row formDesign p-2 mt-3 mb-3">
        <form [formGroup]="AppRegistrationForm">
            <div class="form-group">
                <label for="redirecturl">Redirectr URL</label>
                <input type="email" formControlName="redirecturl" class="form-control form-control-sm" id="redirecturl" aria-describedby="redirecturlHelp" placeholder="https://example.com/login?token={token}" />
                <small id="redirecturlHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="jid">JID</label>
                <input type="number" formControlName="jid" class="form-control form-control-sm" id="jid" placeholder="Password" />
            </div>
            <div class="form-group">
                <label for="app_name">Application Name</label>
                <input type="text" formControlName="appName" class="form-control form-control-sm" id="app_name" placeholder="Application name" />
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="button" (click)="registerApp()" color="primary" mat-raised-button class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Body : End -->
</div>
