.main li a,
li {
    text-decoration: none;
    list-style: none;
    display: block;
    overflow: auto;
    white-space: nowrap;
}

.main > li {
    text-decoration: none;
    list-style: none;
    background-color: #0000003d;
    border-radius: 5px;
    border: 1px solid #0000001e;
}

.col {
    color: white;
}
ul ul
// , .mat-list-item
{
    padding: 7px 5px;
    margin: 10px 0px;
    background: #ffffff15;
    border: 1px solid #ffffff0c;
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px #000000b3;
}
/* ul li ul li::before{
    content: "├";
}
ul li ul li:last-of-type::before{
    content: "└";
} */
.active {
    // border-left: 3px solid white;
    // margin-left: 5px !important;
    // background-color: #00000038;
}

.mat-list-item {
    // border: 10px solid red;
    height: auto !important;
    color: #ffffffd9;
}

.reload-link,
.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    cursor: pointer;
}

.menu_icon {
    font-size: 18px !important;
    padding: 2px !important;
}
