<mat-list>
    <div mat-subheader>Menu_________________________</div>
    <mat-list-item routerLink="/apps">
        <mat-icon class="mat-10">android</mat-icon>&nbsp;&nbsp;&nbsp;
        <div matListItemTitle>Apps</div>
    </mat-list-item>
    <mat-list-item routerLink="/home">
        <mat-icon class="mat-10">supervisor_account</mat-icon>&nbsp;&nbsp;&nbsp;
        <div matListItemTitle>Users</div>
    </mat-list-item>
    <mat-list-item routerLink="/home">
        <mat-icon class="mat-10">note_add</mat-icon>&nbsp;&nbsp;&nbsp;
        <div matListItemTitle>Permission</div>
    </mat-list-item>
    <mat-list-item routerLink="/home">
        <mat-icon class="mat-10">swap_calls</mat-icon>&nbsp;&nbsp;&nbsp;
        <div matListItemTitle>JWT</div>
    </mat-list-item>
    <mat-list-item routerLink="/home">
        <mat-icon class="mat-10">vpn_key</mat-icon>&nbsp;&nbsp;&nbsp;
        <div matListItemTitle>Keys</div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Notes</div>
</mat-list>
<!-- <nav class="main-menu"> -->
<!-- </nav> -->
