<div class="mainRoute">
    <div class="container-fluid">
        <secondBar>Budget Requisition Entry</secondBar>

        <mat-accordion [hideToggle]="false">
            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 0" (opened)="setAccordionStep(0)" class="formDesign mt-3">
                <mat-expansion-panel-header>
                    <mat-panel-title><strong>Select Head of Account</strong></mat-panel-title>
                </mat-expansion-panel-header>
                <app-hoa-details (onEnteringHoaDetails)="filterHOA($event)"></app-hoa-details>
                <form [formGroup]="requisitionForm">
                    <div class="row">
                        <!-- <div class="col-2" *ngIf="this.userLevel > 2">
                            <mat-form-field class="full-width" appearance="outline">
                                <input matInput type="text" formControlName="filterUpperLevelUserByDept" placeholder="Filter Upper Level User By Department" [matAutocomplete]="filterupperleveluser" (keyup)="searchDepartment($event)" />
                                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                <mat-label>Filter Upper Level User By Department</mat-label>
                                <mat-autocomplete #filterupperleveluser="matAutocomplete">
                                    <mat-option (onSelectionChange)="onDeptSelect($event, dept)" class="ctm-auto-ddl" *ngFor="let dept of departmentlist" [title]="dept.name" [value]="dept.code"> {{ dept.code }}:{{ dept.name }} </mat-option>
                                </mat-autocomplete>
                                <mat-error><custom-mat-error [control]="requisitionForm.controls.filterUpperLevelUserByDept"></custom-mat-error></mat-error>
                            </mat-form-field>
                        </div> -->

                        <div class="col-2" *ngIf="this.userLevel > 2">
                            <mat-form-field class="full-width" appearance="outline">
                                <input matInput type="text" formControlName="uppperLevelUser" placeholder="Upper Level User" [matAutocomplete]="upperleveluser" (keyup)="searchUpperLevelUser($event)" />
                                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                <mat-label>Upper Level User</mat-label>

                                <mat-autocomplete #upperleveluser="matAutocomplete">
                                    <mat-option class="ctm-auto-ddl" *ngFor="let user of uppereLevelUser" [title]="user.name" [value]="user.code"> {{ user.code }}:{{ user.name }} </mat-option>
                                </mat-autocomplete>
                                <mat-error><custom-mat-error [control]="requisitionForm.controls.uppperLevelUser"></custom-mat-error></mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-2" *ngIf="this.userLevel == 1 ">
                            <mat-form-field class="full-width" appearance="outline">
                                <input matInput type="text" formControlName="uppperLevelUser" placeholder="Select Department" [matAutocomplete]="upperleveluser" (keyup)="searchUpperLevelUser($event)" />
                                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                <mat-label>Select Department</mat-label>

                                <mat-autocomplete #upperleveluser="matAutocomplete">
                                    <mat-option class="ctm-auto-ddl" *ngFor="let user of uppereLevelUser" [title]="user.name" [value]="user.code"> {{ user.code }}:{{ user.name }} </mat-option>
                                </mat-autocomplete>
                                <mat-error><custom-mat-error [control]="requisitionForm.controls.uppperLevelUser"></custom-mat-error></mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-2">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter requisition Amount</mat-label>
                                <input matInput type="number" formControlName="amount" required />
                                <mat-error><custom-mat-error [control]="requisitionForm.controls.amount"></custom-mat-error></mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-2">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Enter requisition remark</mat-label>
                                <input matInput type="text" formControlName="requestRemarks" required />
                                <mat-error><custom-mat-error [control]="requisitionForm.controls.requestRemarks"></custom-mat-error></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <mat-action-row>
                    <button mat-raised-button color="primary" (click)="addToPayload()"><mat-icon>add</mat-icon></button>
                </mat-action-row>
            </mat-expansion-panel>

            <div class="formDesign mt-2 p-5 mb-2" *ngIf="requisitionPayload.length != 0">
                <span class="legend">Requisition</span>
                <table class="mat-table full-width text-center table table-striped table-sm table-bordered m-0">
                    <thead>
                        <tr>
                            <th style="text-align: center">HOA</th>
                            <th style="text-align: center">Upper Level User</th>
                            <th style="text-align: center">Amount</th>
                            <th style="text-align: center">Clear Row</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pl of requisitionPayload; index as i">
                            <td>{{ pl.demandNo + "-" + pl.majorHead + "-" + pl.submajorHead + "-" + pl.minorHead + "-" + pl.schemeHead + "-" + pl.detailHead + "-" + pl.subdetailHead + "-" + pl.planStatus + "-" + pl.votedCharged }}</td>
                            <td>{{ pl.requestToSaoDdoCode }}</td>
                            <td>₹ {{ pl.amount }}</td>
                            <td>
                                <button mat-mini-fab color="primary" (click)="deleteRowFromPayload(i)"><mat-icon>clear</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"><strong class="float-end">Total</strong></td>
                            <td>₹ {{ grandTotal }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center mt-4 mb-4">
                <button mat-button mat-raised-button color="primary" (click)="submitRequisition()" matTooltip="Save Chages" *ngIf="requisitionPayload.length != 0" matBadge="{{ requisitionPayload.length }}" matBadgePosition="after" matBadgeColor="warn">SAVE</button>
            </div>
        </mat-accordion>
    </div>
</div>
