<div class="mainRoute">
    <div class="container-fluid">
        <secondBar>Budget Requisition Action</secondBar>

        <mat-accordion [hideToggle]="false">
            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 0" (opened)="setAccordionStep(0)" class="formDesign mt-3">
                <mat-expansion-panel-header>
                    <mat-panel-title><strong>Available Requisition</strong></mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row pt-0 pb-0">
                    <div class="col-12">
                        <div class="xformDesign">
                            <table mat-table matSort [dataSource]="copyAllotSource" class="mt-2 mat-elevation-z0 xformDesign full-width">
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell mat-sort-header="id" class="mat-tab-header-txt-col" *matHeaderCellDef>ID</th>
                                    <td mat-cell *matCellDef="let element">{{ element.requisition.id }}</td>
                                </ng-container>

                                <ng-container matColumnDef="initialRequestBySaoDdoCode">
                                    <th mat-header-cell mat-sort-header="initialRequestBySaoDdoCode" class="mat-tab-header-txt-col" *matHeaderCellDef>Initial Request By</th>
                                    <td mat-cell *matCellDef="let element">{{ element.requisition.initialRequestBySaoDdoCode }}</td>
                                </ng-container>

                                <ng-container matColumnDef="requestBySaoDdoCode">
                                    <th mat-header-cell mat-sort-header="requestBySaoDdoCode" class="mat-tab-header-txt-col" *matHeaderCellDef>Request By</th>
                                    <td mat-cell *matCellDef="let element">{{ element.requisition.requestBySaoDdoCode }}</td>
                                </ng-container>

                                <ng-container matColumnDef="hoa">
                                    <th mat-header-cell mat-sort-header="hoa" class="mat-tab-header-txt-col" *matHeaderCellDef>Head of Account</th>
                                    <td mat-cell *matCellDef="let element">{{ element.requisition.demandNo + "-" + element.requisition.majorHead + "-" + element.requisition.submajorHead + "-" + element.requisition.minorHead + "-" + element.requisition.schemeHead + "-" + element.requisition.detailHead + "-" + element.requisition.subdetailHead + "-" + element.requisition.votedCharged }}</td>
                                </ng-container>

                                <ng-container matColumnDef="amount">
                                    <th mat-header-cell mat-sort-header="amount" class="mat-tab-header-txt-col" *matHeaderCellDef>₹ Amount</th>
                                    <td mat-cell *matCellDef="let element">{{ element.requisition.amount | number : "1.0-0" }}</td>
                                </ng-container>

                                <ng-container matColumnDef="requestremark">
                                    <th mat-header-cell mat-sort-header="requestremark" class="mat-tab-header-txt-col" *matHeaderCellDef>Request Remark</th>
                                    <td mat-cell *matCellDef="let element">{{ element.requisition.requestRemark }}</td>
                                </ng-container>

                                <ng-container matColumnDef="requisitiondate">
                                    <th mat-header-cell mat-sort-header="requisitiondate" class="mat-tab-header-txt-col" *matHeaderCellDef>Requisition Date</th>
                                    <td mat-cell *matCellDef="let element">{{ element.requisition.createdAt | date : "yyyy-MM-dd" }}</td>
                                </ng-container>

                                <ng-container matColumnDef="selection">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="clickedRows.size > 0 && isAllSelected()" [indeterminate]="clickedRows.size > 0 && !isAllSelected()"> </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? tickRow($event, row) : null" [checked]="clickedRows.has(row)"> </mat-checkbox>
                                    </td>
                                </ng-container>

                                <tr mat-header-row class="col" *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns"></tr>

                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">No data matching the filter</td>
                                </tr>
                            </table>
                            <div class="d-flex justify-content-between">
                                <p class="pt-4">{{ clickedRows.size }} items selected.</p>
                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"> </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-raised-button color="accent" (click)="goToApprove()" *ngIf="clickedRowsArray.length != 0">Approve</button>
                    <button mat-raised-button color="primary" (click)="goForForwardRequisition()" *ngIf="clickedRowsArray.length != 0 && this.userLevel != 0">Forward</button>
                    <button mat-raised-button color="warn" (click)="goForRejectRequisition()" *ngIf="clickedRowsArray.length != 0">Reject</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [hideToggle]="false" [expanded]="accordionStep === 1" (opened)="setAccordionStep(1)" class="formDesign" *ngIf="clickedRowsArray.length != 0 && (isForwardRequisitionClicked || isRejectRequisitionClicked || isApproveRequisitionClicked)">
                <mat-expansion-panel-header>
                    <mat-panel-title *ngIf="isForwardRequisitionClicked"><strong>Forward Requisition</strong></mat-panel-title>
                    <mat-panel-title *ngIf="isRejectRequisitionClicked"><strong>Reject Requisition</strong></mat-panel-title>
                    <mat-panel-title *ngIf="isApproveRequisitionClicked"><strong>Approve Requisition</strong></mat-panel-title>
                </mat-expansion-panel-header>

                <div class="xformDesign mt-3">
                    <div class="row">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th style="text-align: center">ID</th>
                                    <th style="text-align: center">Initial Request By</th>
                                    <th style="text-align: center">Request By</th>
                                    <th style="text-align: center">HOA</th>
                                    <th style="text-align: center">₹ Available HOA Balance</th>
                                    <th style="text-align: center">₹ Requested Amount</th>
                                    <!-- <th style="text-align: center" *ngIf="isForwardRequisitionClicked && this.userLevel != 2">Filter By Department</th> -->
                                    <th style="text-align: center" *ngIf="isForwardRequisitionClicked && this.userLevel != 2">Forward To</th>
                                    <th style="text-align: center" *ngIf="isForwardRequisitionClicked">Forward Remarks</th>
                                    <th style="text-align: center" *ngIf="isRejectRequisitionClicked">Rejection Remarks</th>
                                    <th style="text-align: center" *ngIf="isApproveRequisitionClicked">₹ Amount to be approved</th>
                                    <th style="text-align: center" *ngIf="isApproveRequisitionClicked">Approve Remarks</th>
                                    <th style="text-align: center">Clear Row</th>
                                </tr>
                            </thead>

                            <tbody>
                                <ng-container *ngFor="let requisitionFormStruct of requisitionFormArrayHelper.controls; let i = index">
                                    <tr [formGroup]="requisitionFormArrayHelper.fromGroupAt(i)" style="text-align: center">
                                        <td>{{ this.clickedRowsArray[i].requisition?.id }}</td>
                                        <td>{{ this.clickedRowsArray[i].requisition?.initialRequestBySaoDdoCode }}</td>
                                        <td>{{ this.clickedRowsArray[i].requisition?.requestBySaoDdoCode }}</td>
                                        <td>{{ this.clickedRowsArray[i].requisition?.demandNo + "-" + this.clickedRowsArray[i].requisition?.majorHead + "-" + this.clickedRowsArray[i].requisition?.submajorHead + "-" + this.clickedRowsArray[i].requisition?.minorHead + "-" + this.clickedRowsArray[i].requisition?.schemeHead + "-" + this.clickedRowsArray[i].requisition?.detailHead + "-" + this.clickedRowsArray[i].requisition?.subdetailHead + "-" + this.clickedRowsArray[i].requisition?.votedCharged }}</td>
                                        <td>₹ {{ this.clickedRowsArray[i].wallet?.ceilingAmount !== null ? this.clickedRowsArray[i].wallet.ceilingAmount : 0 }}</td>
                                        <td>₹&nbsp;{{ this.clickedRowsArray[i].requisition?.amount }}/-</td>

                                        <!-- <td *ngIf="isForwardRequisitionClicked && this.userLevel !== 2">
                                            <mat-form-field class="full-width" appearance="outline">
                                                <input matInput type="text" formControlName="filterUpperLevelUserByDept" placeholder="Filter Upper Level User By Department" [matAutocomplete]="filterupperleveluser" (keyup)="searchDepartment($event)" />
                                                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                                <mat-label>Filter Upper Level User By Department</mat-label>
                                                <mat-autocomplete #filterupperleveluser="matAutocomplete">
                                                    <mat-option (onSelectionChange)="onDeptSelect($event, dept)" class="ctm-auto-ddl" *ngFor="let dept of departmentlist" [title]="dept.name" [value]="dept.code"> {{ dept.code }}:{{ dept.name }} </mat-option>
                                                </mat-autocomplete>
                                                <mat-error><custom-mat-error [control]="requisitionFormArrayHelper.fromGroupAt(i).controls.filterUpperLevelUserByDept"></custom-mat-error></mat-error>
                                            </mat-form-field>
                                        </td> -->

                                        <td *ngIf="isForwardRequisitionClicked && this.userLevel != 2">
                                            <mat-form-field class="full-width" appearance="outline">
                                                <mat-label>Forward To</mat-label>
                                                <input matInput type="text" formControlName="uppperLevelUser" [matAutocomplete]="upperleveluser" (keyup)="searchUpperLevelUser($event)" />
                                                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                                                <mat-autocomplete #upperleveluser="matAutocomplete">
                                                    <mat-option [matTooltipPosition]="'right'" [matTooltip]="element.code + ' : ' + element.name" class="ctm-auto-ddl" *ngFor="let element of upperLevelUser" [value]="element.code">{{ element.code }} : {{ element.name }} </mat-option>
                                                </mat-autocomplete>
                                                <mat-error><custom-mat-error [control]="requisitionFormArrayHelper.fromGroupAt(i).controls.uppperLevelUser"></custom-mat-error></mat-error>
                                            </mat-form-field>
                                        </td>

                                        <td *ngIf="isForwardRequisitionClicked">
                                            <mat-form-field class="full-width" appearance="outline">
                                                <mat-label>Forward remarks</mat-label>
                                                <input matInput type="text" formControlName="frowardRem" required />
                                                <mat-error><custom-mat-error [control]="requisitionFormArrayHelper.fromGroupAt(i).controls.frowardRem"></custom-mat-error></mat-error>
                                            </mat-form-field>
                                        </td>

                                        <td *ngIf="isRejectRequisitionClicked">
                                            <mat-form-field class="full-width" appearance="outline">
                                                <mat-label>Rejection remarks</mat-label>
                                                <input matInput type="text" formControlName="rejectionRem" required />
                                                <mat-error><custom-mat-error [control]="requisitionFormArrayHelper.fromGroupAt(i).controls.rejectionRem"></custom-mat-error></mat-error>
                                            </mat-form-field>
                                        </td>

                                        <td *ngIf="isApproveRequisitionClicked">
                                            <mat-form-field class="full-width" appearance="outline">
                                                <mat-label>Amount to be approved</mat-label>
                                                <input matInput type="number" formControlName="amountToBeApproved" required />
                                                <mat-error><custom-mat-error [control]="requisitionFormArrayHelper.fromGroupAt(i).controls.amountToBeApproved"></custom-mat-error></mat-error>
                                            </mat-form-field>
                                        </td>

                                        <td *ngIf="isApproveRequisitionClicked">
                                            <mat-form-field class="full-width" appearance="outline">
                                                <mat-label>Approve Remarks</mat-label>
                                                <input matInput type="text" formControlName="approveRem" required />
                                                <mat-error><custom-mat-error [control]="requisitionFormArrayHelper.fromGroupAt(i).controls.approveRem"></custom-mat-error></mat-error>
                                            </mat-form-field>
                                        </td>

                                        <td>
                                            <button class="mt-2" mat-mini-fab color="primary" (click)="deleteFormArrayEntry(i)"><mat-icon>clear</mat-icon></button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
                <mat-action-row>
                    <button mat-raised-button color="primary" *ngIf="isRejectRequisitionClicked" (click)="rejectRequisition()">Save</button>
                    <button mat-raised-button color="primary" *ngIf="isForwardRequisitionClicked" (click)="forwardRequisition()">Save</button>
                    <button mat-raised-button color="primary" *ngIf="isApproveRequisitionClicked" (click)="memoGeneration()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="accordionStep === 2" (opened)="setAccordionStep(2)" class="formDesign" *ngIf="isNextClicked && isApprovedAmountVerified">
                <mat-expansion-panel-header>
                    <mat-panel-title><strong>Memo Generation</strong></mat-panel-title>
                </mat-expansion-panel-header>

                <div class="row">
                    <div class="col-12">
                        <form [formGroup]="memoForm">
                            <div class="row">
                                <div class="col-2"></div>

                                <div class="col-8">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <input matInput type="text" placeholder="" formControlName="memoNo" />
                                        <mat-label>Memo Number *</mat-label>
                                        <!-- <mat-error><custom-mat-error [control]="memoFormErrorControl.memoNo"></custom-mat-error></mat-error> -->
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="full-width mt-3">
                                        <mat-label>Memo Date</mat-label>
                                        <input formControlName="date" matInput [matDatepicker]="picker3" readonly />
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" class="full-width">
                                        <textarea matInput type="text" placeholder="" formControlName="remarks" class="box"></textarea>
                                        <mat-label>Remarks</mat-label>
                                        <!-- <mat-error><custom-mat-error [control]="memoFormErrorControl.remarks"></custom-mat-error></mat-error> -->
                                    </mat-form-field>

                                    <p>(Maximum characters: 500)</p>

                                    <p class="text-danger" *ngIf="memoForm.controls['remarks'].hasError('maxlength')">Remarks cannot exceed 500 characters.</p>
                                </div>

                                <div class="col-2"></div>
                            </div>

                            <div class="row mx-0">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <strong>Copy Forwarded To :</strong>
                                    <br /><br />
                                    <button type="button" mat-raised-button color="primary" (click)="copyForwardFAH.addControl()" class="mb-4">Add</button>
                                    <div class="row">
                                        <ng-container *ngFor="let memoFormStruct of copyForwardFAH.controls; let i = index">
                                            <tr [formGroup]="copyForwardFAH.fromGroupAt(i)" style="text-align: center">
                                                <div class="col-11">
                                                    <ng-container style="text-align: center">
                                                        <mat-form-field class="full-width" appearance="outline">
                                                            <input matInput type="text" formControlName="forwardTo" required />
                                                        </mat-form-field>
                                                    </ng-container>
                                                </div>

                                                <div class="col-1">
                                                    <ng-container style="text-align: center">
                                                        <button class="mt-1" mat-mini-fab color="primary" (click)="(copyForwardFAH.deleteControlAt)"><mat-icon>clear</mat-icon></button>
                                                    </ng-container>
                                                </div>
                                            </tr>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-2"></div>
                            </div>
                        </form>
                    </div>
                </div>

                <mat-action-row>
                    <!-- <button mat-raised-button color="warn" (click)="draftAllotments()" *ngIf="!isWithDrawalClicked">Draft</button> -->
                    <button mat-raised-button color="primary" (click)="approveAndSanction()">Sanction</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
