<form [formGroup]="mainForm">
    <div class="row">
        <div class="col-1">
            <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="demand" type="text" placeholder="Demand Code" [matAutocomplete]="demandCode" id="" (keyup)="searchDemand($event)" />
                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                <mat-label>Demand Code</mat-label>

                <mat-autocomplete #demandCode="matAutocomplete" (optionSelected)="getMajorHead(); readingEntireHoa()">
                    <mat-option class="ctm-auto-ddl" *ngFor="let demand of demandCodeList" [title]="demand.name" (onSelectionChange)="onDemandSelect($event, demand.demandCode)" [value]="demand.demandCode"> {{ demand.demandCode }}:{{ demand.name }} </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col-2">
            <mat-form-field class="full-width" appearance="outline">
                <input matInput formControlName="major_head" type="text" placeholder="Major Head" [matAutocomplete]="mjrHd" (keyup)="searchMajorHead($event)" />
                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                <mat-label>Major Head</mat-label>

                <mat-autocomplete #mjrHd="matAutocomplete" (optionSelected)="getSubMajorHead(); readingEntireHoa()">
                    <mat-option class="ctm-auto-ddl" *ngFor="let majorHead of majorHeadList" [title]="majorHead.name" (onSelectionChange)="onMajorHeadSelect($event, majorHead.id)" [value]="majorHead.code"> {{ majorHead.code }}:{{ majorHead.name }} </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col-2">
            <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="sub_major_head" placeholder="Sub Major Head" [matAutocomplete]="subMjrHd" (keyup)="searchSubMajorHead($event)" />
                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                <mat-label>Sub Major Head</mat-label>

                <mat-autocomplete #subMjrHd="matAutocomplete" (optionSelected)="getMinorHead(); readingEntireHoa()">
                    <mat-option class="ctm-auto-ddl" *ngFor="let subMajorHead of subMajorHeadList" [title]="subMajorHead.name" (onSelectionChange)="onSubmajorHeadSelect($event, subMajorHead.id)" [value]="subMajorHead.code"> {{ subMajorHead.code }}:{{ subMajorHead.name }} </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col-2">
            <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="minor_head" placeholder="Minor Head" [matAutocomplete]="minorHd" (keyup)="searchMinorHead($event)" />
                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                <mat-label>Minor Head</mat-label>

                <mat-autocomplete #minorHd="matAutocomplete" (optionSelected)="getSchemeHead(); readingEntireHoa()">
                    <mat-option class="ctm-auto-ddl" *ngFor="let minorHead of minorHeadList" [title]="minorHead.name" (onSelectionChange)="onMinorHeadSelect($event, minorHead.id)" [value]="minorHead.code"> {{ minorHead.code }}:{{ minorHead.name }} </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col-2">
            <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="sub_head" placeholder="Scheme Head" [matAutocomplete]="subHd" (keyup)="searchSchemeHead($event)" />
                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                <mat-label>Scheme Head</mat-label>

                <mat-autocomplete #subHd="matAutocomplete" (optionSelected)="getDetailHead(); readingEntireHoa()">
                    <mat-option class="ctm-auto-ddl" *ngFor="let subHead of subHeadList" [title]="subHead.name" (onSelectionChange)="onSchemeHeadSelect($event, subHead.id)" [value]="subHead.code"> {{ subHead.code }}:{{ subHead.name }} </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col-1">
            <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="detailed_head" placeholder="Detail Head" [matAutocomplete]="detailHd" (keyup)="searchDetailHead($event)" />
                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                <mat-label>Detail Head</mat-label>

                <mat-autocomplete #detailHd="matAutocomplete" (optionSelected)="getSubDetailHead(); readingEntireHoa()">
                    <mat-option class="ctm-auto-ddl" *ngFor="let detailHead of detailHeadList" [title]="detailHead.name" [value]="detailHead.code"> {{ detailHead.code }}:{{ detailHead.name }} </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div class="col-1">
            <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="subDetailHead" placeholder="Sub Detail Head" [matAutocomplete]="subdetailHd" (keyup)="searchSubDetailHead($event)" />
                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                <mat-label>Sub Detail Head</mat-label>

                <mat-autocomplete #subdetailHd="matAutocomplete" (optionSelected)="readingEntireHoa()">
                    <mat-option class="ctm-auto-ddl" *ngFor="let subdetailHead of subDetailHeadList" [title]="subdetailHead.name" [value]="subdetailHead.code"> {{ subdetailHead.code }}:{{ subdetailHead.name }} </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <!-- <div class="col-2">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Plan Status</mat-label>
                <input matInput type="text" formControlName="planStatus" required />
            </mat-form-field>
        </div> -->

        <div class="col-1">
            <mat-form-field class="full-width" appearance="outline">
                <input matInput type="text" formControlName="votedCharged" placeholder="Voted/Charged" [matAutocomplete]="vC" />
                <mat-icon matSuffix>arrow_drop_down</mat-icon>
                <mat-autocomplete #vC="matAutocomplete" (optionSelected)="readingEntireHoa()">
                    <mat-option class="ctm-auto-ddl" *ngFor="let vc of votedCharged" [title]="vc" [value]="vc"> {{ vc }} </mat-option>
                </mat-autocomplete>
                <mat-error><custom-mat-error [control]="this.mainForm.controls.votedCharged"></custom-mat-error></mat-error>
            </mat-form-field>
        </div>

        <mat-action-row>
            <button mat-raised-button color="primary" (click)="search()" *ngIf="router.url != '/WbBudgetRequisitionEntry' && router.url != '/wbBudgetCreateAutoAllotment' && router.url != '/wbBudgetAutoAllotmentAction'">Search</button>
        </mat-action-row>
    </div>
</form>
