<div *ngIf="this.commonDialogData.mode === 'Master Configuaration'">
    <form [formGroup]="goNoForm">
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>FB GO No.</mat-label>
                <input matInput type="text" formControlName="goNo" autocomplete="off" placeholder="FB GO No." />
            </mat-form-field>
            <mat-error><custom-mat-error [control]="goNoForm.controls.goNo"></custom-mat-error></mat-error>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Choose a date for corresponding GO NO.</mat-label>
                <input formControlName="goNoDate" matInput [matDatepicker]="picker1" placeholder="Choose a date for corresponding GO NO.(/DD/MM/YYYY)" />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-error><custom-mat-error [control]="goNoForm.controls.goNoDate"></custom-mat-error></mat-error>
        </div>
    </form>
    <mat-action-row>
        <button mat-raised-button color="primary" (click)="saveGoNo()">Save</button>
    </mat-action-row>
</div>

<div *ngIf="this.commonDialogData.mode === 'View Auto Allotment Objection'">
    <div class="object">Objection</div>
    <ul style="margin-top: 15px">
        <li *ngFor="let objectioItem of objectAutoAllotmentData">{{ objectioItem.comment }}</li>
    </ul>
    <mat-action-row>
        <button mat-raised-button color="primary" (click)="overRuleObjection()">Over Rule</button>
    </mat-action-row>
</div>
