/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";

// @import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
@font-face {
    font-family: "Wix Madefor Display";
    src: url(./assets/Wix_Madefor_Display/static/WixMadeforDisplay-Regular.ttf);
}

@font-face {
    font-family: "Oxygen Mono";
    src: url(./assets/Oxygen_Mono/OxygenMono-Regular.ttf);
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

$roboto-font-path: "~roboto-fontface/fonts" !default;
@import "~roboto-fontface/css/roboto/sass/roboto-fontface";
@import "./style/eBudgetTheme.scss";
@import "@sweetalert2/theme-material-ui/material-ui.scss";

strong {
    font-family: "Wix Madefor Display", sans-serif;
}

.text_oxygen_mono {
    font-family: "Oxygen Mono", monospace;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --prime_blue: #1368a1;
    --prime_aqua: #b0ba29;
    --white: #ffffff;
    --second_bar_bg: #fdd29b;
    --home_body_bg: linear-gradient(90deg, #c7d8e3 0%, #dfd6cb 100%);
    --sidebar_bg: linear-gradient(321deg, #0d5d93 0%, #1f9df1 100%);
    --magic: "";
    scrollbar-width: thin !important; /* Sets the width of the entire scrollbar */
    scrollbar-color: #0000004a transparent; /* Sets thumb color and transparent track */
}

.ngx-spinner-overlay {
    cursor: wait;
}

div:where(.swal2-container) div:where(.swal2-popup) {
    background: linear-gradient(#ffffff, #b1b1b1) !important;
    // background-color: #000000;
    box-shadow: 0 0 6rem 3px rgb(0 0 0 / 91%) !important;
    border: 1px solid var(--prime_blue) !important;
}

.swal2-icon {
    box-shadow: 0 0.5rem 12px 0px rgb(0 0 0 / 28%) !important;
    text-shadow: -1px -1px 2px #00000094;
}

body.darkMode {
    --second_bar_bg: #fdd29b9e;
    --home_body_bg: linear-gradient(0deg, #424242 0%, #191919 100%);
    --sidebar_bg: linear-gradient(321deg, #272727 0%, #5a5a5a 100%);
    --magic: "__dark";

    .text-dark {
        color: white !important;
    }

    // @import "@sweetalert2/theme-dark/dark.scss";  // sweetalert dark
    // writting own dark on top of material theme
    div:where(.swal2-container) div:where(.swal2-popup) {
        background: linear-gradient(#7c7c7c, #484848) !important;
        border: 1px solid #000000 !important;
        color: silver !important;
    }
    .mat-dialog-container {
        background-color: #605f5f;
        border: 1px solid #000000 !important;
    }
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: none !important;
}

.swal2-styled:focus {
    background-color: var(--prime_blue);
}

// /* width */
// ::-webkit-scrollbar {
//     width: 7px;
//     height: 7px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background: #f1f1f100;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: var(--prime_aqua);
//     border-radius: 3px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: var(--prime_aqua);
//     filter: brightness(0.85);
// }

.swal2-confirm {
    padding: 7px 19px !important;
    // border-radius: 2px !important;
    background-color: var(--prime_blue) !important;
    // font-size: 12px !important;
    // border: 1px solid #3e549a !important;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3) !important;
}

.mat-form-field-prefix {
    top: 0 !important;
}

.demandMasterModal .mainRoute {
    margin: 0;
}

.formDesign {
    height: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc !important;
    // box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
    border-radius: 0px;
}

body.darkMode {
    .formDesign {
        height: auto;
        background-color: #585858;
        border: 1px solid #707070 !important;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
        border-radius: 0px;
    }

    .mat-paginator-container {
        background-color: #585858;
    }
}

.demandMasterModal .formDesign {
    border: 0px;
    margin: 0;
}

.mat-radio-label {
    font-weight: normal !important;
}

.full-width {
    width: 100% !important;
}

.swal-wide {
    width: 2400px !important;
    height: 10000px !important;
}

.mat-tab-header-txt-col {
    // color: white;
    font-size: 13px;
}

.mat-paginator-container {
    background-color: rgb(225, 225, 225);
}

.table {
    // box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #fff !important;
    margin-bottom: 0 !important;
}

.formDesign {
    overflow-x: scroll !important;
}

.table > tbody > tr > td {
    background-color: white !important;
}

thead > tr > th {
    font-weight: 500;
    font-size: small;
}

body.darkMode {
    .table,
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table-bordered > thead > tr > th {
        background-color: #424242 !important;
        border-color: #5d5d5d;
        color: white;
    }
}

.mat-action-row {
    border-top: 0 !important;
    padding: 8px !important;
}

/*---normal input design --- outer box---*/
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #40726d !important;
    background-color: #ffffff;

    border-radius: 6px !important;
}

.mat-form-field-label {
    color: #00000099 !important;
}

body.darkMode {
    /*---normal input design --- outer box---*/
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #259186 !important;
        background-color: #95959596;

        border-radius: 6px !important;
    }

    .mat-form-field-label {
        color: #e9e9e9 !important;
    }
}

/* .mat-form-field.mat-focused .mat-form-field-label{
    color: #99f436 !important;
} */

/*---input box shadow from outside :: for disanle and enabled both---*/
.mat-form-field .mat-form-field-flex .mat-form-field-outline {
    /* box-shadow: inset 0 1px 3px #9f9f9f; */
    // border-radius: 6px !important;
    // border: 1px solid #40726d !important;
}

/*---input box shadow from outside :: disable---*/
.mat-form-field-disabled .mat-form-field-flex .mat-form-field-outline .mat-form-field-outline-start {
    border-color: #0000000a !important;
    background-color: #0000000a !important;
}

.mat-form-field-disabled .mat-form-field-flex .mat-form-field-outline .mat-form-field-outline-gap {
    border-color: #0000000a !important;
    background-color: #0000000a !important;
}

.mat-form-field-disabled .mat-form-field-flex .mat-form-field-outline .mat-form-field-outline-end {
    border-color: #0000000a !important;
    background-color: #0000000a !important;
}

/*---normal input design---*/
.mat-form-field-outline-start {
    // background-color: #ffffff !important;
    // border: 1px solid #40726d !important;
    // border-right: 0 !important;
    // border-radius: 0px !important;
}

.mat-form-field-outline-gap {
    // background-color: #ffffff !important;
    // border: 1px solid #40726d !important;
    // border-left: 0 !important;
    // border-right: 0 !important;
    // border-radius: 0px !important;
}

.mat-form-field-outline-end {
    // background-color: #ffffff !important;
    // border: 1px solid #40726d !important;
    // border-left: 0 !important;
    // border-radius: 0px !important;
}

/*---on error design---*/
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    background-color: #cd323229 !important;
}

td .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

/*---outline input height---*/
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 7px 0;
}

.mat-form-field-label-wrapper {
    top: -17px;
}

.mat-expansion-panel-header-title {
    font-size: 1rem;
    font-weight: bolder;
}

.formDesign > .legend {
    font-size: small;
    font-weight: 500;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 4px;
    position: relative;
    top: -39px;
    left: -19px;
}

body.darkMode {
    .formDesign > .legend {
        background-color: #6a6a6a;
        border-color: #404040;
    }
}

.box {
    height: 100px;
    width: 100%;
}

.badge {
    font-weight: 500 !important;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    background-color: rgb(185, 214, 237);
    opacity: 0.4;
}

.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    font-weight: 500;
}

tr.mat-row,
tr.mat-header-row {
    height: 37px !important;
}

// td.mat-cell{
//     border-width: 1px !important;
// }

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 32px !important;
}

.mat-button-toggle-button {
    background: var(--prime_aqua) !important;
    color: whitesmoke !important;
}

.mat-button-toggle-checked .mat-button-toggle-button {
    background-color: darken($color: #b0ba29, $amount: 20) !important;
    font-weight: bolder;
}

.mat-button-toggle-group {
    background-color: transparent !important;
    max-height: 34px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    padding-right: 10px !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
    padding-left: 10px !important;
}

td.mat-footer-cell:last-of-type,
td.mat-footer-cell:first-of-type {
    padding: 0px !important;
}

.mat-option {
    height: 33px !important;
    line-height: 33px !important;
    padding: 7px !important;
    font-size: 0.9rem;
}

/* .mat-autocomplete-panel{
    background-color: #00bbff !important;
} */
.mat-option-text {
    line-height: initial !important;
}

/***BS-Modal behind backdrop fixed****/
.mat-drawer-content,
.mat-drawer-container {
    position: static !important;
}

/*** mat-auto compelete drop down behind BS-Modal fixed***/
.cdk-overlay-container {
    z-index: 9999;
}

//----------------------------------------------------------------------------------------------------------
.modal-backdrop,
.swal2-container.swal2-backdrop-show,
.alertify .ajs-dimmer,
.help-modal__backdrop,
.cdk-overlay-dark-backdrop {
    --bs-backdrop-opacity: 1;
    --bs-backdrop-bg: #00000058;
    backdrop-filter: blur(1px) !important;
    background-color: var(--bs-backdrop-bg) !important;
    opacity: 1 !important;
}

.modal-content {
    box-shadow: 0 11px 15px -7px #00000045, 0 24px 38px 3px #0000003b, 0 9px 46px 8px #00000026 !important;
    background-color: #c0f1ff;
    border-color: #4da4bc;
    color: #3c859a;
    border-radius: 0px !important;
}

body.darkMode {
    .modal-content {
        background-color: #363636;
        --bs-border-color: #7a7a7a !important;
        --bs-modal-border-color: var(--bs-border-color);
        --bs-modal-header-border-color: var(--bs-border-color) !important;
        --bs-modal-footer-border-color: var(--bs-border-color) !important;
    }
}

/*modal design*/
.modal-header,
.modal-footer {
    padding: 10px !important;
    vertical-align: middle !important;
    align-items: center !important;
    border-width: 0px !important;
}

.modal-title {
    font-size: 1.2rem;
    margin: 0px !important;
    font-weight: 500;
}

.mat-expansion-panel-body {
    padding-bottom: 0 !important;
}

.mat-cell,
.mat-header-cell {
    text-align: center !important;
    border-right: 1px solid #0000001f;
}

.darkMode {
    .mat-cell,
    .mat-header-cell {
        border-right: 1px solid #ffffff1f;
    }
}

.mat-sort-header-container {
    display: flex;
    justify-content: center;
}

*:has(> .mat-table) {
    overflow-x: scroll !important;
}

.mat-table thead {
    background-color: lightgoldenrodyellow !important;
}

.darkMode {
    .mat-table thead {
        background-color: #87876c !important;
    }
}

.status-SANCTIONED {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: xx-small;
    padding: 4px;
    background-color: rgba(0, 128, 0, 0.189);
    border-color: green;
    color: green;
    font-weight: bolder;
}

.status-DRAFTSANCTIONED {
    border-style: dashed;
    border-width: 2px;
    border-radius: 5px;
    font-size: xx-small;
    padding: 4px;
    background-color: rgba(0, 128, 0, 0.189);
    border-color: green;
    color: green;
    font-weight: bolder;
}

.status-NEW,
.status-INIT {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: xx-small;
    padding: 4px;
    background-color: rgba(0, 118, 222, 0.189);
    border-color: rgba(0, 75, 128, 0.759);
    color: rgba(0, 75, 128, 0.759);
    font-weight: bolder;
}

.status-APPROVED {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: xx-small;
    padding: 4px;
    background-color: rgba(255, 230, 6, 0.189);
    border-color: rgba(191, 134, 0, 0.759);
    color: rgba(191, 134, 0, 0.759);
    font-weight: bolder;
}

.status-FORWARDED {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: xx-small;
    padding: 4px;
    background-color: rgba(226, 216, 232, 0.189);
    border-color: rgba(205, 137, 64, 0.759);
    color: rgba(213, 68, 39, 0.759);
    font-weight: bolder;
}

.status-DELETED,
.status-REJECTED {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: xx-small;
    padding: 4px;
    background-color: rgba(255, 6, 6, 0.189);
    border-color: rgba(191, 0, 0, 0.759);
    color: rgba(191, 0, 0, 0.759);
    font-weight: bolder;
}

.mat-table-sticky {
    z-index: 2 !important;
}

.mat-mini-fab {
    width: 35px !important;
    height: 35px !important;
}

.mat-mini-fab .mat-button-wrapper {
    padding: 6px 0px !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row,
.mat-toolbar-multiple-rows {
    height: 47px;
}

.mat-toolbar-multiple-rows {
    min-height: 47px;
}
body.darkMode {
    .mat-toolbar-row,
    .mat-toolbar-single-row,
    .mat-toolbar-multiple-rows {
        height: 47px;
    }

    .mat-toolbar-multiple-rows {
        min-height: 47px;
    }
}

.mat-list-base .mat-list-item .mat-list-item-content {
    height: auto !important;
    padding: 7px 10px !important;
    margin: 15px 10px;
    background: #ffffff15;
    border: 1px solid #ffffff0c !important;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #000000b3;
}

.active .mat-list-item-content::before {
    background-color: #f78117 !important;
    content: "";
    width: 5px;
    height: 20px;
    margin: 0px 3px;
    border-radius: 5px;
}

.material-icons {
    font-size: 21px !important;
}
body.darkMode .mat-toolbar.mat-primary,
.mat-toolbar.mat-primary {
    color: #f78117;
}
.mat-list-base .mat-subheader {
    color: #ff9e34;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #407c1b1f;
    border: 1px dashed #3a8b089c;
    border-radius: 7px 7px 0 0 !important;
}
.mat-form-field {
    font-weight: 500;
}
